$default-fonts: Roboto, "Helvetica Neue", sans-serif;
$max-content-width: 1200px;
$main-font-color: rgba(0, 0, 0, 0.6);
// Font sizes
$title-font-size: 21px;
$subtitle-font-size: 16px;
$link-font-size: 14px;
// Color
$link-color: #cd9e53;
