<div class="content">
  <div class="img-container">
    <img
      class="category-img"
      [src]="category.imgURL"
      [alt]="category.altText"
    />
    <img class="icon" src="assets/icons/heart.png" />
  </div>

  <div class="title">{{ category.title }}</div>
  <div class="subtitle">{{ category.subtitle }}</div>
  <a [href]="category.href" target="_blank" class="link"
    >{{ category.link }}
    <span class="material-symbols-outlined arrow-right-icon">
      arrow_right_alt
    </span></a
  >
</div>
