@import "constants";
@import "mixins";

$like-icon-offset: 30px;
$like-icon-width: 20px;

:host {
  flex: 1;
}

:host:hover {
  background-color: rgba(0, 0, 0, 0.05);
}

.container {
  text-align: center;
  padding: 16px;
  max-width: $max-content-width/3;
  min-width: 150px;

  .img-container {
    position: relative;
    height: min(32vw, 380px);
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.1);
    overflow: hidden;

    .category-img {
      width: 100%;
    }

    .like-icon {
      position: absolute;
      top: $like-icon-offset;
      right: $like-icon-offset;
      width: $like-icon-width;
      background-color: white;
      padding: 4px;
      border-radius: 50%;
      border: 1px white solid;
      cursor: pointer;
    }

    .liked {
      background-color: $like-color;
    }
  }

  .content {
    padding-bottom: 2em;

    .title {
      @include line-clamp;
    }

    .subtitle {
      @include line-clamp;
    }
  }

  .link:hover .arrow-right-icon {
    transform: translateX(2px);
  }
}

@media (max-width: $mobile-breakpoint) {
  .container .img-container {
    height: 340px;
  }
}
