@import "constants";

.container {
  text-align: center;
  padding: 16px;
  border: 1px black solid;
  max-width: $max-content-width/3;

  .img-container {
    position: relative;

    .category-img {
      width: 100%;
    }

    .icon {
      position: absolute;
      top: 30px;
      right: 30px;
      width: 20px;
      background-color: white;
      padding: 4px;
      border-radius: 50%;
    }

    .icon:hover {
      background-color: $link-color;
      transition-duration: 0.25s;
      cursor: pointer;
    }
  }

  .content {
    padding-bottom: 2em;
  }

  .link {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .link:hover .arrow-right-icon {
    transform: translateX(2px);
  }
}
