<div class="container">
  <ng-container *ngIf="imgPosition === 'top'; then image"></ng-container>

  <div class="content">
    <div class="title">{{ category.title }}</div>
    <div class="subtitle">{{ category.subtitle }}</div>
    <a class="link flex-center-xy" [href]="category.href" target="_blank"
      >{{ category.link }}
      <span class="material-symbols-outlined arrow-right-icon">
        arrow_right_alt
      </span></a
    >
  </div>

  <ng-container *ngIf="imgPosition === 'bottom'; then image"></ng-container>

  <ng-template #image>
    <div class="img-container">
      <img
        class="category-img"
        [src]="category.imgURL"
        [alt]="category.altText"
      />
      <img
        [ngClass]="{ 'like-icon': true, liked: isLiked }"
        (click)="onLikeClick()"
        src="assets/icons/heart.png"
      />
    </div>
  </ng-template>
</div>
